server {
    listen 80;
    server_name localhost;

    location / {
        proxy_pass http://frontend:3000;
        # Outras configurações de proxy para o frontend
    }

    location /api {
        proxy_pass http://backend;
        # Outras configurações de proxy para o backend
    }

    # Configurações adicionais conforme necessário
}
